<footer class="footer">
	<div class="row expanded row--footer">
		<div class="small-12 medium-4 columns columns--footer">
		  	<p class="footer__developer"><a href="./api/lines">Developer View</a></p>
		</div>
		<div class="small-12 medium-4 columns columns--footer">
		  	<p class="footer__content">© 2016 Anna Bialas for Dynamic Web Applications</p>
		</div>
	</div>
</footer>