.confirm { 

	text-align: center; 

	&__title { margin-bottom: 1em; }
	&__description { margin-bottom: 3em; }

	a { color: $blue; font-weight: 600; @include transition; }
	a:hover { color: $blue-40k; @include transition; }

}