<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<!-- Google Font Roboto -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
	<!-- Shortcut Icon TBD -->
	<link rel="shortcut icon" href="#"/>
	<!-- Page title handled by handlebars -->
	<title>{{title}}</title>
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- Foundation CSS -->
	<link rel="stylesheet" href="css/foundation.min.css" />
	<!-- Material Icons -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
	<!-- Compiled Stylesheet -->
	<link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
	<div class="wrap">
		{{> top-nav }}
	
		{{{body}}}

		<!-- Temporary Flash Format -->
		{{#if flash}}
		<div class="row">
		<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
	        <p>{{flash.header}}</p>
	        <p>{{flash.body}}</p>
	    </div>
	    </div>
	    {{/if}}

    </div>

    {{> footer }}

	<!-- Foundation JS -->
	<script src="js/what-input.js"></script>
	<script src="js/foundation.min.js"></script>
    <script>
    	// Initialize Foundation
    	$(document).foundation();
    </script>
</body>
</html>