<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
	<h3 class="form-title">Search</h3>
	<form class="form" action="" method="get">
		<input type="text" name="q" placeholder="what are you looking for?">
		<input type="submit" value="Search">
	</form>
	<br>
	<br>
	<h3 class="form-title">Results</h3>
	{{#each users}}
		{{#each lines}}
		<div>
			<p><em>{{text}}</em></p>
		</div>
		{{/each}}
	{{/each}}
	</div>

</div>
</div>