{{#if user}}
<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
		{{#each users}}
			{{#each lines}}
			<div>
				<p>{{text}}</p>
			</div>
			{{/each}}
		{{/each}}
	</div>
</div>
</div>
<script>
$( document ).ready(function() {
    $('.top-nav').show();
});
</script>

{{/if}}