{{#if user}}

<div class="page-section">
<div class="row">
	<div class="small-11 small-centered medium-6 medium-offset-3 large-6 large-offset-3 columns">
		{{#each users}}
			{{#each lines}}
			<div>
				<p>{{text}}</p>
				<button data-id="{{_id}}" class="delete">delete me</button>
				<br>
				<br>
			</div>
			{{/each}}
		{{/each}}
	</div>
</div>
</div>

<script>
	$(".delete").click(deleteLine);

	function deleteLine(event) {
		console.log(this);
		// here ajax request happens
		$.ajax({
		    url: '/users/lines/' + this.dataset.id,
		    type: 'DELETE',
		    success: function(response) { 
		    	console.log('deleted');
		    }
		})
		
		$(this).siblings().remove();
		$(this).remove();
	}
</script>

{{/if}}