body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.62;
  font-weight: 400;
  color: #333;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

p > a {
  text-decoration: none;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  cursor: pointer; }

p > a:hover {
  text-decoration: underline; }

a {
  text-decoration: none;
  color: currentColor;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  cursor: pointer; }
  a:hover {
    text-decoration: underline;
    background-color: transparent;
    color: currentColor; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin: 0; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0; }

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0; }

h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  margin: 0; }

h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: capitalize;
  margin: 0; }

hr {
  border-width: 0;
  margin: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.top-nav {
  height: 80px;
  margin: 0px 0px 60px 0px;
  background-color: #B083C4;
  color: #FFF; }
  .top-nav__logo {
    font-family: 'Merienda One', cursive;
    line-height: 80px;
    vertical-align: middle;
    text-transform: initial;
    font-size: 40px;
    margin-left: 10px; }
    @media (max-width: 600px) {
      .top-nav__logo {
        margin-left: 0px; } }
    .top-nav__logo a:hover {
      text-decoration: none; }
  .top-nav__menu {
    line-height: 80px;
    vertical-align: middle;
    color: #FFF; }
  .top-nav__menu-item {
    text-align: right;
    line-height: 80px;
    vertical-align: middle; }
    .top-nav__menu-item a {
      color: #FFF;
      transition: all .4s ease;
      -webkit-transition: all .4s ease; }
    .top-nav__menu-item a:hover {
      color: #FFF;
      transition: all .4s ease;
      -webkit-transition: all .4s ease; }

.error {
  text-align: left !important; }

form,
.form {
  padding: 10px 0; }
  form--hidden,
  .form--hidden {
    display: none; }
  form input,
  .form input {
    box-shadow: none;
    margin-bottom: 2px;
    margin-top: 16px; }
  form select:focus,
  .form select:focus {
    outline: none;
    border: 1px solid #8a8a8a;
    background-color: #fefefe;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow .5s border-color .25s ease-in-out; }
  form option:disabled,
  .form option:disabled {
    color: rgba(0, 0, 0, 0.5); }
  form ::-webkit-input-placeholder,
  .form ::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.5);
    text-align: left; }
  form input[type=submit],
  .form input[type=submit] {
    height: 37px;
    padding: 8px 32px 8px 32px;
    background-color: #333;
    color: #fefefe;
    border-style: solid;
    border-width: 1px; }
  form input[type=submit]:hover,
  .form input[type=submit]:hover {
    background-color: #3C1362;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
  form input[type=submit]:active,
  .form input[type=submit]:active {
    background-color: #2c0e48;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
  form input[type=submit]:focus,
  .form input[type=submit]:focus {
    background-color: #3C1362;
    outline: none;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
  form label#username-error, form label#password-error, form label#repeat_password-error, form label#new-username-error, form label#line-error,
  .form label#username-error,
  .form label#password-error,
  .form label#repeat_password-error,
  .form label#new-username-error,
  .form label#line-error {
    padding-left: 9px !important;
    color: #FF0000 !important;
    font-style: italic; }

.footer {
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #B083C4;
  color: #FFF;
  margin-top: 30px; }
  .footer__content {
    margin: 0;
    line-height: 40px;
    font-size: 10px;
    text-align: right; }
    @media (max-width: 600px) {
      .footer__content {
        text-align: center; } }
  .footer__developer {
    margin: 0;
    font-weight: 600;
    line-height: 40px;
    font-size: 10px;
    text-align: left; }
    @media (max-width: 600px) {
      .footer__developer {
        display: none; } }

.form-title {
  text-align: center;
  margin-bottom: 1em; }

.form-description {
  text-align: center; }

.error {
  text-align: center; }
  .error__title {
    margin-bottom: 1em; }
  .error__description {
    margin-bottom: 3em; }
  .error a {
    color: #3C1362;
    font-weight: 600;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
  .error a:hover {
    color: #2c0e48;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }

.splashpage {
  min-height: 80%;
  text-align: center; }
  .splashpage__banner {
    font-family: 'Merienda One', cursive;
    font-size: 1200%;
    color: #FFF;
    padding-top: 15%; }
    @media (max-width: 600px) {
      .splashpage__banner {
        padding-top: 25%;
        font-size: 700%;
        margin-bottom: 50px; } }
  .splashpage__button {
    height: 37px;
    padding: 8px 0px 8px 0px;
    margin-bottom: 20px;
    background-color: transparent;
    color: #FFF;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
    width: 150px;
    transition: all .4s ease;
    -webkit-transition: all .4s ease; }
    .splashpage__button:hover {
      background-color: #7b5b89; }
  .splashpage__link {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    color: #FFF;
    font-size: 17px;
    line-height: 17px;
    padding: 8px 40px 8px 40px; }
    .splashpage__link:hover {
      color: #FFF;
      text-decoration: none; }
  .splashpage__about {
    color: #FFF;
    font-size: 14px;
    margin-top: 35px; }

body {
  height: 100%; }

.wrap {
  min-height: 100%;
  margin-bottom: -40px; }

.wrap:after {
  content: "";
  display: block;
  height: 40px; }

.page-section {
  margin-top: 30px; }

.row--footer {
  height: 40px; }

.columns--footer {
  height: 40px; }

.inline {
  margin-left: 0px; }
  .inline li {
    list-style-type: none;
    display: inline-block; }

.helper {
  margin-left: 20px;
  color: #3C1362;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  font-size: 14px; }
  .helper:hover {
    text-decoration: underline;
    color: #2c0e48; }

#new-username {
  margin-top: 0px; }

.nobottom {
  margin-bottom: 0px; }

.spaceme {
  margin-right: 20px;
  font-weight: 600; }
