.footer {

   bottom:0;
   width:100%;
   height:40px;
   background-color: #B083C4;
   color: $white;
 

   &__content { 
   	margin: 0; 
   	line-height: 40px; 
   	font-size: 10px;
   	text-align: right;  
   	@media (max-width: 600px) {
		 text-align: center; 
      }
	}

   &__developer { 
      margin: 0; 
      font-weight: 600;
      line-height: 40px; 
      font-size: 10px;
      text-align: left;  
      @media (max-width: 600px) {
         display: none;
      }
   }
}