.top-nav {

	height: $top-nav-height;
	margin: 0px 0px 60px 0px;
	background-color: #B083C4;
	color: $white; 
	// margin: 0px 30px 0px 30px;

	// .row, .columns { padding: 0; }

	&__logo {

		font-family: 'Merienda One', cursive; 
		line-height: $top-nav-height;
		vertical-align: middle;
		text-transform: initial;
		font-size: 40px;
		margin-left: 10px;

		@media (max-width: 600px) {
		  margin-left: 0px;
		}

		a:hover { text-decoration: none; }

	}

	&__menu { 

		line-height: $top-nav-height;
		vertical-align: middle;
		color: $white;
	}

	&__menu-item {

		text-align: right;
		line-height: $top-nav-height;
		vertical-align: middle;

		a { color: $white; @include transition;}
		a:hover { color: $white; @include transition;}
	}

}