.top-nav {

	height: $top-nav-height;
	margin: 0px 0px 60px 0px;
	// margin: 0px 30px 0px 30px;

	// .row, .columns { padding: 0; }

	&__logo {

		font-style: italic;
		line-height: $top-nav-height;
		vertical-align: middle;

	}

	&__menu { 

		line-height: $top-nav-height;
		vertical-align: middle;
	}

	&__menu-item {

		text-align: right;
		line-height: $top-nav-height;
		vertical-align: middle;

		a { color: $blue; @include transition;}
		a:hover { color: $blue-40k; @include transition;}
	}

	display: none;
}